@model PersonalWebpage.MVC.Models.ContactViewModel
@{
    ViewData["Title"] = "Home Page";
}

<section class="intro easeIn-slow">
    <div class="intro__container">
        <h1 class="intro__start">Hi, my name is</h1>
        <h2 class="intro__name">Dawson Meier</h2>
        <h3 class="intro__statement">I develop software.</h3>
        <div class="intro__description">
            <p class="intro__description-details">I'm a web developer based in Kansas City, Missouri specializing in building exceptional websites and applications!</p>
        </div>
        <a href="mailto: Dawson.A.Meier@gmail.com" class="intro__button">Contact me</a>
    </div>
</section>

<div class="side easeIn-slow">
    <div class="side__links-box">
        <ul class="side__links">
            <li class="side__link-item">
                <a href="https://github.com/DMeier12" target="blank" class="side__link-a"><i class="fa fa-github" aria-hidden="true"></i></a>
            </li>
            <li class="side__link-item">
                <a href="https://www.linkedin.com/in/dawson-meier-b9781a238/" target="blank" class="side__link-a"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
            <li class="side__link-item">
                <a href="mailto: dawson.a.meier@gmail.com" class="side__link-a"><i class="fa fa-envelope" aria-hidden="true"></i></a>

            </li>
        </ul>
    </div>
</div>

<!--start about section-->
<section class="about__me container easeIn" id="aboutMe">
    
    <div class="about__box about__box-1">
        <h1>About me</h1>
        <p>Hi! I'm Dawson Meier, a web developer from Kansas City, Missouri.</p>
        <p> I love building websites and applications and  my goal has always been to build outstanding products that look great and function even better!
            
            
            I have learned to become a front end developer with skills in C#, including .Net Core MVC, and Razer. Javascript including jQuery, responsive web development, boot strap,
            and react. With exeprience with the tools: Visual Studio 2022, Visual Studio Code, and SSMS.
           
            
            My work experience includes: Quiktrip from Feb 2020 to June 2021, where I learned teamwork, communication, and critical thinking.
            I worked as a League of Legends coach for 2 years from 2021 to 2022, where I learned to teach and learn with a group effectively.</p>
    </div>

    <div class="about__box about__box-2">
        <img src="~/imgs/image0.jpeg" alt="My Pic">

    </div>
</section>
<!--end section about-->
<!--start projects section-->
<section class="projects container easeIn" id="Projects">
   @* <div class="project__1 easeIn">
        <div class="projects__box projects__box-1">
            <h1>Projects</h1>
            <img src="~/imgs/kelly-sikkema-VX0bsbyBxpM-unsplash.jpg" alt="Storefront Image">
        </div>
        <div class="projects__box projects__box-2">
            <h1>Storefront Project <span></span></h1>
            <P>GameStore is a website where you can buy some of your favorite video games to play!
            with it's sleek, easy to navigate design, you can move around to your favorite
            genres and companies to find that game for you.</P>

            <h2>Tech Used</h2>
            <p>C#, MVC, JS, CSS, CSHMTL, AJAX, SQL</p>
        </div>
        <div class="button-box">
             <a href="https://github.com/Dmeier12/StoreFront"></a>
        </div>
    </div>*@

@*
    <div class="project__2 easeIn">
        <div class="projects__box project__2-box-1">
            <h1>To-Do Website/API <span></span></h1>
            <P>In this project, you can create your own to do like with full functionality.</P>
            <h2>Tech Used</h2>
            <p>React, Razor</p>

            <div class="button-box">
                <a href="" class="btn__demo" target="blank">ToDo</a>
                <a href="https://github.com/DMeier12/REACT_TODO_API" class="btn__demo" target="blank">API</a>
            </div>

        </div>

        <div class="projects__box project__2-box-2">
            <img src="~/imgs/kelly-sikkema-VX0bsbyBxpM-unsplash.jpg" alt="LMS home page">
        </div>
    </div>
*@


    <div class="project__3 easeIn">
        <div class="projects__box project__3-box-1">
            <img src="~/imgs/kelly-sikkema-VX0bsbyBxpM-unsplash.jpg" alt="SpaceX-API home page">
        </div>

        <div class="projects__box project__3-box-2">
            <h1>ESports School<span></span></h1>
            <P>This is a project where we sat down as a team for a week and made a MVC based webpage for a school, which the primary use was for admins and teachers to create, delete, and edit information about students. We also showed information on classes and allowed people to apply./P>
            <h2>Tech Used</h2>
            <p>C#, MVC, JS, CSS, CSHMTL, AJAX, SQL</p>

            <div class="button-box">
               @*<<a href="" target="blank" class="btn__demo">Demo</a>*@
                <a href="https://github.com/JessGalloway/SATProject" target="blank" class="btn__demo">Github</a>
            </div>
        </div>
    </div>



    <div class="project__4 easeIn">
        <div class="projects__box project__4-box-1">
            <h1>The Journey Through Brevard <span>(C# Game)</span></h1>
            <P>A c# .net console application game that is a spiritual recreation of a Dungeons and Dragons campaign I have created.. There are iconic features recreated from the original game such as character creation (customizable name, race, class), with some extra features such as customization of your build as you journey.</P>
            <h2>Tech Used</h2>
            <p>C#</p>
            <a href="https://github.com/DMeier12/DungeonApp" target="blank" class="btn__demo">Github</a>

        </div>

        <div class="projects__box project__4-box-2">
            <img src="~/imgs/brevard.jpg" alt="Brevard Map">
        </div>
    </div>


    <!-- <div class="project__5 easeIn">
        <div class="projects__box project__5-box-1">
            <img src="~/imgs/kelly-sikkema-VX0bsbyBxpM-unsplash.jpg" alt="Freelance Project 1 Banner Image">
            <img src="~/imgs/image0.jpeg" alt="Freelance Project 1 Banner Image Mobile" class="proj5-mobile-img">
        </div>

        <div class="projects__box project__5-box-2">
            <h1>Placeholder Text</h1>
            <P> </P>
            <h2>Tech Used</h2>
            <p>Placeholder Text</p>

            <div class="button-box">
                <a href="" target="blank" class="btn__demo">Demo</a>
                <a href="" target="blank" class="btn__demo">Github</a>
            </div>
        </div>
    </div>-->
 
</section><!--end projects -->
<section class="links container easeIn " id="Links"> 
    <div class="links__title">
        <h1>These are the classmates I worked with through my course.</h1>
    </div>
    <div class="links__box">
            <div class ="links__box links__linksimg">
                <img src="~/imgs/nick_picture.jpg" alt="Links profile image 1" />
            </div>
            <div class ="links__box links__linkstext">
                <h1>Nick Sachau</h1>
                <p> Nick Sachau is a strong developer with loves in and outside of development. He excells in JS and Razer.</p>
                <a href="http:nickthedev.net" target="blank" class="btn__demo">Personal Site</a>
                <a href="https://github.com/Nick-Sachau" target="blank" class="btn__demo">Github</a>
                <a href="https://www.linkedin.com/in/nick-sachau-6a5210212/" target="blank" class="btn__demo">Linkedin</a>
           </div>
    </div>
        <div class="links__box">
            <div class ="links__box links__linkstext">
                <h1>Jesse Galloway</h1>
                <p> Jesse Galloway was previously a Nurse, specializing in long-term-care. His interest in coding began asa hobby, and after a 12 year career, he decided to make it his full time job.</p>
                <a href="" target="blank" class="btn__demo">Personal Site</a>
                <a href="" target="blank" class="btn__demo">Github</a>
                <a href="https://www.linkedin.com/in/jesse-galloway-02b082261/" target="blank" class="btn__demo">Linkedin</a>
           </div>
            <div class ="links__box links__linksimg">
                <img src="~/imgs/jesse_img.jpg" alt="Links profile image 1" />            
            </div>
    </div>
   
</section>
<!--start Contact Section-->
<section class="contact container easeIn" id="Contact">
    <div class="contact__title">
        <h1>I'd love to hear from you</h1>
        <p>I'm always looking for new and exciting projects to work on and new people to meet!</p>
    </div>
         <div class="col-lg-6">

                   <form asp-action="Contact" class="php-email-form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input asp-for="Name" class="form-control" placeholder="Name" id="name" value=""/>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input asp-for="Email" class="form-control" id="email" placeholder="Email" value=""/>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input asp-for="Subject" class="form-control" id="subject" placeholder="Subject" value=""/>
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <textarea asp-for="Message" class="form-control" rows="5" placeholder="Message" value=""></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                        <div class="text-center mt-4 form-group">
                            <input type="submit" value="Say Hello!" class="btn btn__demo" />
                        </div>
                    </form>
                </div> 

   
</section><!--end Contact Section-->

          <!-- 1.appsettings.json, 2.create contact view model, 3. add iconfiguration field to home controller, 4. create contact get action, 5. generate view from action, razer view, -->
          <!-- creat contact view,-->
          <!-- contact view model, above public class contact view model, [keyless]-->

